/* START: Task 1 Styles */

body {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
    flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

table,
td {
    border: 2px solid black;
    
}

td {
    padding: 50px;
}


.bg-blue {
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: green;
}

/* END: Task 1 Styles */

/* START: Task 2 Styles */
#task2 {
    margin: 70px auto;
}

input {
    padding: 11px 50px 11px 5px;
    width: 300px;
    font-size: 10px;
}

button {
    padding: 10px 15px;
    background-color: rgb(106, 86, 216);
    border: none;
    color: white;
    font-weight: bold;
}

.button-and-input {
    display: flex;
}

.form-control {
	position: relative;
}

.form-control.success input {
	border-color: #1fd66b;

}

.form-control.error input {
	border-color: #e74634;
}

.form-control small  {
	color: #ffffff;
	position: absolute;
	bottom: 50px;
	left: 0;
	visibility: hidden;
    padding: 10px 20px ;
}

.form-control.error small {
	visibility: visible;
    background-color: tomato;
}

.form-control.success small {
	visibility: visible;
    background-color: rgb(141, 201, 23);
    padding: 10px 70px ;
    text-align: center;
}


/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3 {
    position: relative;
}

#ball {
    position: absolute;
    left: calc(300px - 20px);
    top: calc(165px - 20px);
}

.count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
/* END: Task 3 Styles */
