* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

%header-position { 
    position: relative;
    left: 192px;
}

@mixin artical {
    font-size: 16px;
    line-height: 25px;
    font-family: $font-style;
    font-weight: lighter;
}

@mixin link {
    font-family: 'Source Sans Pro', sans-serif;
    color: $btli-color;
    text-decoration: underline;
    font-size: 16px;
}

@mixin buttom {
    padding: 11px 40px;
    background-color: $bt-color;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: bolder;   
    color: $btli-color;
}

/*--------------------*/
body {
    @if map-has-key($map:$backround-colors, $key:bg-color-dark){
        background-color: map-get($backround-colors,bg-color-dark);
    } @else {
        background-color: map-get($backround-colors,bg-color-light);
    }
}

.header {
    background-image: $main-photo;
    background-position: center center;
    height: 721px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 800px 0px / 0px 0px 250px 0px;
    position: relative;
    z-index: -2;
 
    &_heading {
        @extend %header-position;
        width: 724px;
        top: 140px;
        font-size: 72px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        color: $text-color;
        &::before {
            content: '';
            position: absolute;
            top: 87px;
            right: X;
            width: 300px;
            height: 51px;
            background-color: $mark-text;
            z-index: -1;
        }
    }
    &_text {
        @extend %header-position;
        text-align: left;
        margin-top: 50px;
        width: 572px;
        top: 145px;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.4px;
        font-family: $font-style;
        color: $text-color;
    }
    &_button {
        @extend %header-position;
        @include buttom;
        top: 200px;
    }
}

.landing-logo {
    position: absolute;
    left: 192px;
    top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $text-color;
    & p {
        display: flex;
        flex-direction: column;
        padding-left: 14px;
        align-items: center;
        font-family: $font-style;
        font-size: 25px;
        font-weight: bolder;
    }
    & span {
        font-size: 10px;
    }
}

.login {
    @include link;
    position: absolute;
    left: 487px;
    top: 510px;
    font-size: 20px;
}

.section {
    position: relative;
    text-align: center;
    &_text {
        display: inline-block;
        margin: 48px 0px 0px 50px;
        position: relative;
        left: -18px;
        text-align: center;
        font-family: 'Hind', sans-serif;
        font-size: 40px;
        font-weight: bold;
        color:$text-color;
        &::before {
            content: '';
            position: absolute;
            left: 224px;
            width: 180px;
            height: 51px;
            background-color: $mark-text;
            z-index: -1;
        }
    }
    &_card_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 24px;
    }
    &_card {
        display: flex;
        flex-direction: row;
        max-width: 1116px;
        max-height: 330px;
        margin: 12px;
        padding: 23px;
        border-radius: 5px;
        @if map-has-key($map:$backround-colors, $key:bc-card-col-dark){
            background-color: map-get($backround-colors,bc-card-col-dark);
        } @else {
            background-color: map-get($backround-colors,bc-card-col-light);
        }
    }
    &_card_text {
        @include artical;
        text-align: justify;
        color:#FFFFFF;
        padding: 0px 4px 8px 3px ;
        color: $artext-color;
    }
    &_card_right_container {
        padding: 48px 87px 80px 85px;
    }
    &_card_img {
        width:435px ;
        height: 284px;
        border-radius: 5px;
    }
    &_card_heading {
        font-size: 25px;
        font-family: 'Source Sans Pro', sans-serif;
        color: $btli-color; 
        padding: 2px 0px 40px 8px;
        font-weight:300 ;
    }
    &_link{
        @include link;
        padding: 0px 20px 27px 35px;
        position: relative;
        bottom: -15px;
        color: $artext-color;
    }
    &_banner {
        position: relative;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        @if map-has-key($map:$backround-colors, $key:gradient-dark){
            background: map-get($backround-colors,gradient-dark);
        } @else {
            background: map-get($backround-colors,gradient-light);
        }
        padding: 10px 145px 40px;
        margin-top: 100px;
        border-radius: 6px;
    }
    &_banner_button {
        @include buttom;
        position: relative;
        bottom: 60px;
        right: 18px;
        float: right;
        &:hover {
            background-color:#2C2F3C;
        }
        
    }
    &_banner_text{
        @include artical;
        padding-left: 18px;
        color: #FFFFFF;
    }

    &_banner_heading {
        font-size: 30px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        color: $text-color;
        padding: 20px;
    }
}

.footer {
    height: 240px;
    padding: 130px 175px 53px;
     @if map-has-key($map:$backround-colors, $key:bc-card-col-dark){
        background-color: map-get($backround-colors,bc-card-col-dark);
    } @else {
        background-color: map-get($backround-colors,bc-card-col-light);
    }
    margin-top: -70px;
    z-index: -2;
    
    &-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &_text {
        width: 295px;
        font-size: 14px;
        line-height: 20px;
        font-family: $font-style;
        font-weight: lighter;
        position: relative;
        color: $btli-color;
    }
    &_logo {
        position: static;
        color: white;
    }
    &-cr {
        font-size: 16px;
        line-height: 20px;
        font-family: $font-style;
        font-weight: lighter;
        color: $btli-color;
    }
}