$main-photo: url("../img/m-h-day.jpg");
$mark-text: #14a0c7;
$bt-color: #699900;
$bt-hover-color: #4b6d02;
$text-color:#2C2F3C;
$font-style: 'Hind', sans-serif;
$btli-color:#FFFFFF;
$artext-color:#C0C3CE;
$title-color:#2C2F3C;


$backround-colors: (
    bc-card-col-light:#21232E,
    bg-color-light:#FFFFFF,
    gradient-light:linear-gradient(90deg, rgba(96,143,36,1) 0%, rgba(49,95,203,1) 100%)
) 