$main-photo: url("../img/m-h-night.jpg");
$mark-text: #e85840;
$bt-color: #E3AC00;
$bt-hover-color: #a37c08;
$text-color:#FFFFFF;
$btli-color: #FFFFFF;
$font-style: 'Fresca', sans-serif;
$artext-color:#FFFFFF;;
$title-color:#FFFFFF;

$backround-colors: (
    bc-card-col-dark:#3B3F50,
    bg-color-dark:#21232E,
    gradient-dark:linear-gradient(90deg, rgba(220,160,8,1) 0%, rgba(150,50,79,1) 100%)
) 
