.chat-body {
    max-width: 1000px;
    margin: 0 auto;
}

.chat-window {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1000px;
    background-color: #b1ebeb;
    height: 600px;
    overflow-y: scroll;
}

.message {
    display: flex;
    flex-direction: column;
    background-color: #287474;
    padding: 12px;
    color: white;
    margin: 8px;
}

.username {
    font-style: italic;
    font-size: 12px;
}

.text {
    font-size: 18px;
    font-weight: bold;
}

.date {
    font-size: 12px;
}

.message__reverse {
    align-self: flex-end;
}

.inputs {
    display: flex;
    width: 100%;
    margin: 5px 0;
    
}

#send {
    background-color: #287474;
    color: #fff;
    font-weight: 500;
    border: 1px solid #287474;
    padding: 5px 35px;
}

#message {
    width: 100%;
    padding: 10px 5px;   
}
