﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  color: #fff;
}

.nav-header {
  padding-top: 35px;
}

.header-logo {
  font-size: 35px;
  font-weight: bold;
}

.header-title {
  text-align: center;
  padding-top: 190px;
  padding-bottom: 280px;
}

.header-title h1 {
  font-size: 50px;
  font-weight: bold;
}

.header-bg {
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
  background-position: center;
}

.white-link  {
  color: #fff;
}

.servises-card {
  border: none;
}

.align-title {
  text-align: center;
  padding: 60px;
}

.servises-card-img {
  margin: 0 auto;
  max-width: 150px;
}

.servises-card-title {
  text-align: center;
  color: #6b6b6b;
  font-size: 25px;
  font-weight: bold;
}

.servises-card-text {
  color: #929292;
  font-weight: lighter;
}

.servises-btn {
  background: rgb(2,0,36);
  background: linear-gradient(27deg, rgba(2,0,36,1) 0%, rgba(118,4,205,1) 35%, rgba(7,134,159,1) 100%);
  padding: 8px 50px;
  font-weight: bold;
  border-radius: 20px;
  margin: 70px;
}

.works {
  background-color: rgb(206, 206, 206);
  padding-bottom: 60px;
}

.references {
  padding: 20px 0 80px;
}

.references-img {
  position: relative;
  z-index: 1;
}


.contact {
  background-color: #000000;
  color: #fff;
  padding-bottom: 80px;
}

.black {
  background-color:  #000000;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 10px 0;
  margin: 25px 0;
}

.contact-btn {
  background-color: #1d1c1c;
  color: #fff;
  padding: 10px 60px;
}

.footer {
  padding: 90px 0;
  background-image: url('../img/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

.footer-icon {
  padding: 0 15px;
}

.footer-right {
  text-align: right;
  font-size: 12px;
  padding: 20px;
  color: #D0CAD5;
}
