/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;

}

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

.container {
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 25px 200px;
    display: flex;
    align-items: center;
    position: fixed;
    margin: 0 ;
    left: 0;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    
}

@media (max-width:992px) {
  .header {
    padding: 15px 30px;
  }
}


@media (max-width:767px) {
  .header {
    padding: 15px 5px;
    display: flex;
    flex-direction: column;
    
  }
}

.header_menu_list {
    display: flex;
    flex-direction: row; 
}

@media (max-width:767px) {

  .header_menu_list {
    margin-top: 10px;
  }
}

.header_menu_list_link {
    display: block;
    padding-left: 25px;
    color:#363636;
    font-weight: bold;
    
}

@media (max-width:767px) {

  .header_menu_list_link {
    padding-left: 6px;
    font-size: 11px;
  }
}

.header_menu_list_link:hover {
    color:#0078aa;
    transition: 0.5s;
}

main {
    margin-top:65px;
}

.section_home {
    background-image: url("../img/header_bg.jpg ");
    max-width: 100%;
    height: 570px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

@media (max-width:767px) {
  .section_home {
    background-position: left 50% center;
}
}

.section_home_heading {
    padding: 204px 10px 0;
    max-width: 500px;
}

@media (max-width:992px) {
  .section_home_heading {
    margin: 0 20px;
  }
}

@media (max-width:767px) {
  .section_home_heading {
    padding: 100px 0 0 0;
    text-align: center; 
}
}

.section_home_heading h1 {
    font-size: 40px;
    font-weight: bold;    
}

.section_home_heading p {
    padding: 35px 0;
    font-size: 16px;
    color: #757575;
    line-height: 20px;
}

.section_home_menu_list {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

@media (max-width:767px) {
  .section_home_menu_list_point {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width:767px) {
  .section_home_menu {
    margin: 0 30px;
  }
}

.section_home_menu_list_point {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: #0078aa;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #fff;
}

.section_home_menu_list_point:hover {
    background: white;
    border-radius: 50%;
    border-color:#0078aa;
    fill:#0078aa;
    transition: 1s;
}

.section_home_icon {
    width: 40px; 
    height: 40px;
    display: block;
 
}


.section_about {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 50px;
}

.section_about_nav {
    content:'↑';
    position: fixed;
    bottom: 55px;
    right: 10px;
    background-color: #0078aa;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    padding-top: 5px;
}

.section_about_nav a {
  color: white;
}


.section_about_nav:hover {
    color:#0078aa;
    background-color: rgb(152, 195, 250);
}

@media (max-width:992px) {
  .section_home_menu_list_point {
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width:767px) {
  .section_about {
    display: flex;
    flex-direction:column;
    text-align: center;
  }
}


.section_about_photo {
    width: 100%;
}

@media (max-width:992px) {
  .section_about_photo img{
    width: 100%;
    
  }
}

.section_about_artical {
    margin-left: 40px;
}

@media (max-width:767px) {
  
  .section_about_artical  {
    margin: 0 5px;
    
  }
}

.section_about_artical h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section_about_artical h3 {
    margin-bottom: 28px;
    color: #0078aa;
    font-size: 12px;
}

.section_about_artical h4::before {
    position: absolute;
    content: "➯";
    color: #0078aa;
    left: 0px;
    
}

.section_about_artical_list h4 {
    position: relative;
    margin-bottom: 12px;
    font-weight: bold;
    padding-left: 15px;
}

.section_about_artical_list p {
    margin-bottom: 18px;
    color: #363636;
    
}

@media (max-width:767px) {
  
  .section_about_artical_list p {
    width: 100%;
  }
}

.section_servises {
    background-image: url("../img/services_bg.jpg");
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section_servises_title {
    text-align: center;
    padding-top: 60px;
}

.section_servises_title h2 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}

.section_servises_title h3 {
    font-size: 11px;
    padding-bottom: 26px;
}

.section_servises_card_row {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 32px;  
}

@media (max-width:767px) {
  
  .section_servises_card_row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
  }
}

.section_servises_cards_row_card {
    margin:0 16px;
    background-color: #fff;
    max-width: 369px;
    padding: 25px;
}

@media (max-width:767px) {
  
  .section_servises_cards_row_card {
    margin:16px 16px;
    background-color: #fff;
    max-width: 369px;
    padding: 25px;
    width: 300px;
  }
}

.section_servises_cards_row_card h4 {
    font-weight: 700;
    margin: 18px 0;
}

.section_servises_cards {
    padding-bottom: 60px;
}

.section_price {
    background-image: url("../img/pricing_bg.jpg");
    max-width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
}

.section_price_title {
  text-align: center;
  padding-top: 80px;
}

.section_price_title h2 {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 4px;
}

.section_price_title p {
  font-size: 11px;
  margin-bottom: 55px;
}

.section_price_cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto; 
}

@media (max-width:767px) {
  
  .section_price_cards {
    display: flex;
    flex-direction: column;
  }
}

.section_price_cards_card {
    padding: 0 85px;
    text-align: center;
    width: 383px;
    
}


@media (max-width:992px) {
  .section_price_cards_card {
    padding: 0 35px;
    width: 240px;
    margin: 0 auto;
  }
}
  @media (max-width:767px) {
  
    .section_price_cards_card {
      width: 100%;
      height: 540px;
      margin-bottom: 10px;
    }
  }

.section_price_cards_card:nth-child(odd) {
    height: 580px;
    background-color: #369ee4;
    padding-top: 50px;
    color: #fff;
}

.section_price_cards_card:nth-child(2) {
    height: 640px;
    background-color: white;
    border: 2px solid #369ee4;
    padding-top: 80px;
    color: #0078aa;
}

.section_price_cards_card h3 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 35px;
}

.card_price {
   font-size: 45px;
   font-weight: 700;
   padding-bottom: 30px;
}

.card_italic {
    font-style: italic;
    padding-bottom: 38px;
}

.section_card_list li{
    padding-bottom: 30px;
}

.section_card_list li:nth-child(5) {
    font-size: 30px;
    font-weight: 700;
}

.section_price_button {
    padding: 15px 20px;
    background-color: #fff;
    color: #0078aa;
    border: 2px solid #0078aa;
    border-radius: 15px;
    font-weight: 700;
}

.section_price_button:hover {
    background-color: #54b361;
    color: #fff;
    border: 2px solid #54b361;
}

.section_contact {
    margin-top: 50px;
    width: 100%;

}

.section_contact_box {
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:767px) {
    .section_contact_box {
      flex-direction: column;
    }
}

.section_contact_box_photo img {
    width: 70%;
}

@media (max-width:767px) {
  .section_contact_box_photo img {
    width: 100%;
  }
}


.section_contact_box_info h2 {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
  }

.section_contact_box_info p {
  font-size: 11px;
  padding-bottom: 40px;
}

.section_contact_form {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
     
}

.section_contact_form input {
    margin-bottom: 25px;
    font-style: italic;
    border-bottom: 1px solid #c2c2c2;
    font-size: 10px; 
}

.section_contact_form button {
  padding: 9px 10px;
  background-color: #0078aa;
  color: #fff;
  border: 2px solid #0078aa;
  border-radius: 15px;
  font-weight: 700;
  margin-right: auto;
  margin-bottom: 10px;
}

.section_contact_form button:hover {
  background-color: #fff;
  color: #0078aa;
  border: 2px solid #0078aa;
}

footer {
    background-color: #363636;
    padding: 18px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

