@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-image: url(https://presentation-creation.ru/images/backgrounds/history/starinnaya-karta.jpg);
    background-size: cover;
    
    
}

#app-root {
    background-color: rgba(0, 0, 0, 0.342);
    color: white;
}

table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    
}
th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: rgb(0, 0, 0);
	font-size: 18px;

    text-align: center;
    
}
td {
	text-align: left;

	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
}
 th:first-child, .table tbody tr td:first-child {
	border-left: none;
}
 th:last-child, .table tbody tr td:last-child {
	border-right: none;
}
 tr:nth-child(even){
	background: #643c24e1;
}

tr:nth-child(odd){
	background: #0707078f;
}

h1 {
    font-size: 40px;
}

.label,
.label_reg {
    
    padding:  10px;
    font-style: italic;
}

#no-items {
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

#filterSelect {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.438);
    border: none;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 10px auto;

    
}

