body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: rgb(228, 227, 227);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  margin: 30px auto;
  width: 1200px;
  background-color: white;
}

.card-container {
  display: flex;
  flex-direction: row;
  height: 400px;
  align-items: center;
}

.card-container__lg {
  height: 450px;
}

.card {
  height: 100%;
  width: 50%;
  padding: 0 60px;
}

.card_full {
  width: 100%;
  height: 100%;
}

.card__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text__italic {
  font-style: italic;
  line-height: 36px;
  font-size: 23px;
  font-weight: 100;
}

.card__blue {
  background-color: #76cdd8;
}

.hover-container {
  position: relative;
  width: 50%;
  height: 100%;
}

.triangle {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 10;
  clip-path: polygon(26% 0, 0 0, 0 22%);
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.triangle-reverse {
  clip-path: polygon(73% 0, 100% 0, 100% 22%);
}

.triangle-blue {
  background-color: #76cdd8;
}


.hover-epam:hover > .triangle-epam {
  opacity: 1;
}

.hover-2:hover > .triangle-2 {
  opacity: 1;
}

.hover-3:hover > .triangle-3 {
  opacity: 1;
}

.hover-4:hover > .triangle-4 {
  opacity: 1;
}

.card_header__lg {
  color: #fff;
  font-size: 48px;
  text-align: center;
}

.card-header {
  text-align: start;
  color: #76cdd8;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 8px;
}

.card-text {
  line-height: 32px;
}

.button {
  width: 200px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  background-color: #019999;
  transition: background-color 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: block;
}

.align-self-end {
  align-self: flex-end;
}

.button:hover {
  background-color: rgb(118, 205, 216);
}

.flex-align-center {
  align-items: center;
}

.card_image__round {
  margin-top: 24px;
  margin-bottom: 12px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.card_image_description {
  color: #fff;
  font-size: 14px;
}

.card-image-back {
  background-size: cover;
  background-image: url(../img/image-01.jpg);
}

.img-hover:hover {
  transform: scale(1.1);
}

.info-container,
.plan-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 580px;
  width: 100%;
}

.info-container_text {
  display: flex;
  flex-direction: column;
  padding: 60px;
}

.info-container p {
  margin: 15px 0;
}

.info-container_img {
  background-size: cover;
  background-image: url(../img/image-02.jpg);
  height: 100%;
  width: 50%;
  background-position-x: center;
}

.plan-container_img {
  background-size: cover;
  background-image: url(../img/image-03.jpg);
  height: 100%;
  width: 33%;
  background-position-x: center;
}

.plan-container {
  display: flex;
  justify-content: space-between;
}

.plan-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.plan-card {
  width: 340px;
  margin: 20px;
  text-align: center;
}

.plan-card-title {
  padding: 30px;
  background-color: #019999;
  color: #fff;
}

.plan-card-title h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.plan-card-list {
  padding: 40px;
  border: 1px solid #019999;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lists li {
  margin: 25px;
}

.app-cards-title {
  background-color: #23d4d4;
  padding: 46px 0 90px 150px;
  font-size: 25px;
  color: white;
}

.app-cards {
  position: relative;
  z-index: 0;
}

.app_container {
  opacity: .99;
  max-width: 880px;
  background-color: white;
  margin: -75px auto;
  z-index: 2;
  padding: 70px 180px;
}

.app-cards-forms {
  display: flex;
  background-color: white;
  flex-direction: row;
  z-index: 2;
  justify-content: space-around;
}

.app-btn {
  margin: 25px auto;
}

.app-cards-forms-info {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px 40px 10px 5px;
  border: #bdbcbc solid 1px;
  margin: 5px;
}

.app-field {
  border: #bdbcbc solid 1px;
}

.app-footer {
  background-color: #019999;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 110px 250px 60px;
  color: white;
  z-index: 1;
}

.app-footer-text {
  max-width: 211px;
  line-height: 25px;
  font-size: 14px;
}

.app-footer-text h3 {
  font-size: 22px;
  padding-bottom: 18px;
}

footer {
  text-align: center;
  padding: 20px;
  margin: -30px;
}

.border-hover:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transform: scale(1.1);
}

.hidden-text {
  display: none;
  color: #76cdd8;
  margin-top: 7px;
}

.hidden-text > span {
  color: red;
}

.border-hover:hover .hidden-text {
  display: block;
}

.blue-text-hover:hover {
  color: #23d4d4;
}