@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgba(105, 233, 233, 0.788);
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.form {
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 70px 16px 70px 30px;
    
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.form__input {
    margin:  20px;
    padding: 10px;
    width: 80%;
    border: 1px solid rgb(187, 186, 186);

}

.form__label {
    font-weight: bold;
    padding-left: 20px;
}

button {
    padding: 10px 30px;
    background-color: rgb(75, 214, 75);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

