button {
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    border: 0;
    transition: 500ms;
  }
  
  .unlike {
    color: rgb(113, 226, 226);
    padding: 11px;
  }
  
  .like {
    color: #ff825c;
    padding: 20px;
    transition: 500ms;
  }
  
  .unlike:hover {
    background-color: #dddddd;
    color: #fff;
  }
  
  .like:hover {
    background-color: ff825c;
    color: #fff;
  }

  .delete {
    font-weight: 700;
    color: rgb(113, 226, 226);
    margin-right: 15px;
    font-size: 20px;
    padding: 20px;
  }
  
  .delete:hover {
    background-color: rgb(240, 79, 30);
    color: #fff;
  }
  
  #back-button {
    background-color: rgb(86, 228, 221);
    color: #fff;
    margin-top: 15px;
    padding: 5px;
    width: 40px;
    transition: 500ms;
  }
  
  .back-button:hover {
    background-color: rgb(39, 128, 123);
  }