
#root {
  margin: 40px auto;
  width: 800px;
  text-align: center;
  position: relative;
}

#modifyItem {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#liked-tweets-wrapper {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}

.liked-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000;
}

.addTweet {
  padding: 10px;
  margin-top: 15px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 12px;
  transition: 500ms;
}

.addTweet:hover {
  background-color: rgb(39, 128, 123);
  color: white;
}

#cancelModification,
#saveModifiedItem {
  padding: 10px;
  transition: 500ms;
  margin-right: 10px;
}

#cancelModification:hover {
  background-color: rgb(235, 85, 16);
  color: #fff;
}

#saveModifiedItem:hover {
  background-color: rgb(39, 128, 123);
  color: #fff;
}

#input-text {
  margin: 15px 0;
  padding: 8px;
  border-color: rgb(125, 206, 135);
}

#input-text:focus {
  outline: none;
  border: 1px solid rgb(39, 128, 123);
}

#list {
  margin-top: 20px;
}

#toLikedTweets {
  position: absolute;
  left: 91%;
  top: 10%;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(245, 74, 22);
  font-size: 29px;
  transition: 1s;
}

#toLikedTweets:hover {
  transform: scale(1.8);
}

#alertMessageText {
  color: rgb(245, 74, 22);
  font-weight: 700;
}
