@import "./nullstyles.scss";
@import "./variable.scss";


body {
  width: 1500px;
  margin: 0 auto;
  background-color: $body-bg-color;
  font-family: Montserrat, sans-serif;
}

.game {
  display: flex;
  margin: 40px;
  justify-content: space-between;
  align-items: center;
}

.display {
  background-color: $display-bg-color;
  text-align: center;
  border: 7px solid $white-color;
  padding: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  h1 {
    font-size: 40px;
    color: $white-color;
    text-shadow: #000 0 0 3px;
    font-weight: bold;
  }
}

.rules,
.history {
  font-size: 16px;
  margin: 10px auto;
  background-color: $white-color;
  width: 260px;
  padding: 16px;
  border: 3px solid $brown-color;
  font-style: italic;
  color: $brown-color;
  text-align: center;
}

.rules {
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  li {
    margin: 5px;
  }
}

/* PLAYRS */

.players {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  width: 125px;
  height: 125px;
  background-color: $white-color;
  border-radius: 50%;
  border: 4px solid $yellow-color;
  box-shadow: 5px 11px 3px 2px rgba(0, 0, 0, 0.2);
  margin: 20px 5px;
}

.img {
  background-repeat: no-repeat;
  background-position: center;
}

.rock {
  background-image: url('/img/rock.jpg');
}

.paper {
  background-image: url('/img/paper.jpg');
}

.scissors {
  background-image: url('/img/scissors.jpg');
}

.user__photo-img,
.computer__photo-img {
  width: 300px;
}

.nickname {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: $white-color;
  text-shadow: #000 0 0 3px;
}

.result {
  font-weight: bold;
  font-size: 70px;
  background-color: $white-color;
  padding: 40px 60px;
  border: 6px solid $brown-color;
  color: $brown-color;
  display: flex;
}

.reset {
  background-color: $yellow-color;
  border-color: $white-color;
  color: $white-color;
  font-size: 25px;
  font-weight: bold;
}

.round {
  font-weight: bold;
  margin-top: 70px;
  color: $white-color;
  text-shadow: #000 0 0 3px;
  font-size: 40px;
}

.choice {
  border-color: rgb(19, 184, 19);
}
