body {
    font-family: 'Montserrat', sans-serif;
    background-color: #c9e9f1;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 900px;
    margin: 60px auto;
    
}

.calculator {
    margin: 20px auto;
    padding: 0 20px 20px;
    border: 2px solid #89b6b6;
    border-radius: 15px;
    width: 290px;
    box-shadow: 0px 5px 10px 2px rgba(80, 121, 153, 0.2);
    background-color: #fff;
}

.calculator h1 {
    font-family: 'Festive', cursive;
    color: #235252;
    text-align: center;
    letter-spacing: 3px;
}

.calc-row {
    display: flex;
    flex-direction: row;
}

button {
    width: 58px;
    height: 58px;
    background-color: #57acac;
    color: #fff;
    text-align: center;
    line-height: 58px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid;
    margin: 0 auto;
    transition: background-color .2s linear;
    cursor: pointer;
}

.calc-num:hover {
    background-color: #2e7e7e;
}

.display {
    font-size: 60px;
    word-wrap: break-word;
    text-align: right;
    width: 100%;
    border: none;
    outline: none;
    font-weight: 200;
}

.calc-row {
    margin: 10px;
}

.calc-oper {
    background-color: #235252;
}

.calc-empt {
    background-color: #e9e9e9;
    
}

.calc-special {
    background-color: #ffda60;
}

.error {
    content: "error";
    color: tomato;
    font-weight: bold;
}

#history {
    border: 2px solid #89b6b6;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0px 5px 10px 2px hsla(206, 31%, 46%, 0.2);
    background-color: #fff;
    text-align: center;   
    
}

#history h2 {
    font-weight: bold;
    font-size: 20px;
    color:#235252 ;
}

#history-content  {
    height: 200px;
    overflow-y: auto;
    position: relative;
    padding-bottom: 20px;
}

.history-flex {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 12px 5%;
    font-weight: 600;
    align-items: center;
}
.history-flex-text {
    overflow-wrap: anywhere;
    width: 65%;
}

.history-flex-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ff6347;
    transition: background-color .2s linear;
    cursor: pointer;
}

.history-flex-circle:hover {
    background-color: #ffbcb0;
}

.history-flex-cross {
    /* content: "✖"; */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #235252;
    cursor: pointer;
}

.history-flex-cross:hover {
    color: #ff6347;
}

#history-content::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

#history-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #5b9e9e;
}
