

#about h2:hover {
    color: #ffffff;
    background-color: #87CEFA;
    font-weight: bolder;
}

section p::first-letter {
    font-size: 30px;
    color: #87CEFA;
}

.tm-main-nav,
.tm-content-box,
.blocks {
    box-shadow: 0 0 20px 5px #c5c5c5;
}

.blocks {
    background-color: white;
}

.tm-team-description-container ~ .tm-content-box {
    box-shadow: none;
  }

.tm-banner {
    background-color: #cac9c9;
}

.tm-banner-inner {
    background-color: #ffffff;
}

section::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 37px solid transparent;
    border-top: 0px solid transparent;
    border-left: 300px solid #6eb6e2;
}

.flex-2-col {
    display: flex;
    justify-content : space-between;
    align-items: center
}

.carousel-content h2 {
    color:#dcdcdc;
    letter-spacing: 5px;
}

.tm-section-title+p {
    font-style: italic;
}

.tm-team-description-container p {
    line-height: 1.5;
}

.tm-team-description-container p::first-letter {
    padding-left: 20px;
}

.padding-medium a {
    color: black;
}

.padding-medium a:visited {
    text-decoration: underline;
}

.tm-content-box div ol li:nth-child(1)::after,
 .tm-content-box div ol li:nth-child(3)::after { 
    content: "New";
    color: red;
    vertical-align: top;
    font-size: 10px;
    font-variant: small-caps;
    font-weight: bold;
}

.padding-medium a:hover {
    text-decoration-line: underline;
    text-decoration-style: double;
    color:#6eb6e2 ;
}

.box-work {
    padding: 7px;
}

.box-work p {
    font-style: italic;
}

.box-work:nth-child(even) {
    background-color: #e0e0e0;
}

.box-work p::first-letter {
    color: black;
}

.mandatory-field::after {
    content: "*";
    color: red;
    font-weight: bold;
}

.tm-sidebar li {
    transition: background-color 0.3s linear;
}

.tm-sidebar li:hover{
    background-color: #c7c7c7;
}

.submit-btn {
    position:relative;
    left: 890px;
    color: #87CEFA;
    background-color: #ffffff;
    width: 140px;
    padding: 12px;
    border-radius: 0;
    border-color: #87CEFA;
    transition: background-color 0.3s linear;

}

.submit-btn:hover {
    color: #ffffff;
    background-color: #87CEFA;
    border-color: #87CEFA; 
}

@media print {
   
    .tm-sidebar,
    #about,
    .heading,
    .blocks,
    #ideas,
    .img-fluid,
    #contact,
    section::before {
            display: none;
    }
    
    section {
        margin: -50px;
    } 
        
    .tm-team-description-container { 
        position: relative;
        left: 80px;
        width: 420px;
        font-size: 20px;
    }
    
    .flex-2-col img {
        width: 200px;
        position: relative;
        right: 100px;
        top: 10px;
    
    }
    
    .tm-content-box h2 {
        color: blue;
        margin-top: 3px;
    }

    p::first-letter {
        font-size: 30px;
        color: #87CEFA;
    }
}