* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
}

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

.container {
  max-width: 1440px;
  margin: 0 auto;
  
}

@media (max-width:1200px) {
    .container {
      max-width: 100%;
    }
}
/*.................*/

.header {
  background-image: url("../img/apples.jpg");
  max-width: 100%;
  height: 825px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  color: #ffffff;
}


.header_menu_list {
  display: flex;
  flex-direction: row;
  float: right;
  align-items: center;
}

.header_menu_list_link {
  padding-right: 75px;
  font-size: 16px;
  color: #ffffff;}
 
  @media (max-width:992px) {
  
    .header_menu_list_link {
      padding-right: 40px;
    }
  }

.header_logo p {
  color: white;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 25px 0 0 75px;
}

.header_heading {
  padding-top: 245px;
  text-align: center;
}

.header_heading_main{
    color: white;
    font-size: 55px;
    letter-spacing: 10px;
}

.header_letter {
    font-size: 100px;
}

.header_heading_second {
    color: white;
    font-size: 16px;
    padding-top: 24px;
}

.header_button {
    padding-top: 195px;
    text-align: center;
  
}

.header_button button {
    color: white;
    font-size: 16px;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 17px 90px;
    border: white solid;
}

@media (max-width:992px) {
  
  .header_button button {
    font-size: 14px;
    padding: 16px 70px;}
}

.header_button button:hover {
    background-color: rgb(58, 86, 28, 0.5);
    transition: 0.5s;
}
.section_text {
  margin:153px 30px;
}

@media (max-width:1200px) {
  
.section_text {
  margin: 90px 0 100px 15px;}
}

@media (max-width:992px) {
  
.section_text {
  margin: 40px 0 50px 15px;}
}

.section_text_lorem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section_text_lorem-1 {
  font-size: 26px;
  line-height: 33px;
  max-width: 620px;
  margin-right: 20px;
}
@media (max-width:992px) {
  
.section_text_lorem-1 {
  font-size: 20px;
  line-height: 25px;
  max-width: 400px;}
}

.bold {
  font-weight: 600;
}

.section_text_lorem-2 {
  font-size: 16px;
  line-height: 22px;
  justify-content: flex-end;
  max-width: 660px;
}

@media (max-width:992px) {
  
.section_text_lorem-2 {
  font-size: 14px;
  line-height: 20px;
  justify-content: flex-end;
  max-width: 450px;}
}

.section_main_wrap {
  max-width: 100%;
  background-color:#F3F3F3;
  padding-bottom: 62px;
}

.section_main_title {
  padding: 165px 0 110px;
  text-align: center;
  font-size: 27px;
}

@media (max-width:992px) {
  
.section_main_title {
  padding: 80px 0 70px;
  text-align: center;
  font-size: 27px;
}
}

.section_main_title span {
  font-weight: bolder;
}

.section_card {
  display: flex;
  flex-direction: row;
}

@media (max-width:992px) {
  
.section_card {
  padding: 0 15px;
}
}

.section_card_img {
  max-width: 100%;
  margin-bottom: 20px;
}

@media (max-width:992px) {
  
.section_card_img {
  max-width: 60%;
  margin-bottom: 10px}
}

.section_card_text {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.section_card_text:nth-child(odd) {
margin-right: 30px;
}

.section_card_text:nth-child(even) {
margin-left: 30px;
}

@media (max-width:992px) {
  
.section_card_text {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
  line-height: 20px;
  margin: auto 12px;
}
}



.section_main_form {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 30px 20px;

}

@media (max-width:992px) {
  
.section_main_form {
  margin: 50px 0;
  padding: 30px 10px;
}
}

.section_main_form_title {
  font-size: 27px;
  margin: auto 25px;
}

@media (max-width:992px) {
  
.section_main_form_title {
  font-size: 18px;
  margin: auto 20px;
}
}

.section_main_form_input {
  border: solid black;
  border-width: 1px;
  padding: 27px 15px;
  background-color:#F3F3F3 ;
  width: 860px;
}

@media (max-width:992px) {
  
.section_main_form_input {
  padding: 14px;
}
}

.section_main_form_button {
max-width: 127px;
padding: 22px;
background-color: #343638;
color: white;
}

@media (max-width:992px) {
  
.section_main_form_button {
    max-width: 110px;
}
}

.footer_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 140px 0;
  margin-left: 10px;
}

@media (max-width:992px) {
  
  .footer_info {
      padding: 90px 0;
  }
}

.footer_info_card_title {
  font-size: 18px;
  font-weight: 600; 
}

.footer_info_card_text {
  margin-top: 30px;
  color: #A4A4A4;
  line-height: 20px;
  font-size: 15px;
}

@media (max-width:992px) {
  
  .footer_info_card_text {
      font-size: 12px;
  }
}

.footer_info_card_text span {
  font-style: italic;
}

.footer_info_card {
  max-width: 300px;
}

@media (max-width:1200px) {
  
  .footer_info_card {
      max-width: 230px;
  }
}

.footer_info_card:nth-child(3) {
  max-width: 180px;
}

.footer_info_card_form {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

@media (max-width:1200px) {
  
  .footer_info_card_form {
      display: flex;
      flex-direction: column;
      margin-right: 10px;
  }
}

.footer_info_card_input {
  border: solid black;
  border-width: 1px;
  padding: 7px;
  background-color:#F3F3F3 ;
}

@media (max-width:1200px) {
  
  .footer_info_card_input {
      width: 100%;
  }
}

.footer_info_card_button {
  padding: 8px;
  background-color: #343638;
  color: white;
}  
@media (max-width:1200px) {
  
  .footer_info_card_button {
      width: 100%;
  }
}

.main_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 10px;
}

.main_footer p {
  color: #A4A4A4;
}

.footer_menu_list {
  display: flex;
  flex-direction: row;
  float: right;
}

.footer_menu_list_link {
  padding-left: 20px;
  color: black;
}
