html * {
    font-family: 'Roboto', sans-serif !important;
}

.navbar-nav {
    margin: auto;
}

.games-1,
.footer {
    background-color: rgb(65, 62, 77);
    color: white;
    padding-top: 70px;
}

.games-1_card {
    background-color:rgb(65, 62, 77) ;
}

.card {
    margin: 50px 0px;
}

.games-2 {
    background-color: rgb(228, 228, 228);
    padding-top: 70px;
}

.games-2_card {
    background-color: rgb(228, 228, 228);
}

.footer_text {
    padding-top: 50px;
    padding-bottom: 20px;
}

.d-grid {
    background-color: rgb(255, 119, 104);
    margin-top: 10px;
}

