* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

.header_heading, .header_text, .header_button {
  position: relative;
  left: 192px; }

/*--------------------*/
body {
  background-color: #21232E; }

.header {
  background-image: url("../img/m-h-night.jpg");
  background-position: center center;
  height: 721px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 0px 800px 0px / 0px 0px 250px 0px;
  position: relative;
  z-index: -2; }
  .header_heading {
    width: 724px;
    top: 140px;
    font-size: 72px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #FFFFFF; }
    .header_heading::before {
      content: '';
      position: absolute;
      top: 87px;
      right: X;
      width: 300px;
      height: 51px;
      background-color: #e85840;
      z-index: -1; }
  .header_text {
    text-align: left;
    margin-top: 50px;
    width: 572px;
    top: 145px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    font-family: "Fresca", sans-serif;
    color: #FFFFFF; }
  .header_button {
    padding: 11px 40px;
    background-color: #E3AC00;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: bolder;
    color: #FFFFFF;
    top: 200px; }

.landing-logo {
  position: absolute;
  left: 192px;
  top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF; }
  .landing-logo p {
    display: flex;
    flex-direction: column;
    padding-left: 14px;
    align-items: center;
    font-family: "Fresca", sans-serif;
    font-size: 25px;
    font-weight: bolder; }
  .landing-logo span {
    font-size: 10px; }

.login {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  text-decoration: underline;
  font-size: 16px;
  position: absolute;
  left: 487px;
  top: 510px;
  font-size: 20px; }

.section {
  position: relative;
  text-align: center; }
  .section_text {
    display: inline-block;
    margin: 48px 0px 0px 50px;
    position: relative;
    left: -18px;
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF; }
    .section_text::before {
      content: '';
      position: absolute;
      left: 224px;
      width: 180px;
      height: 51px;
      background-color: #e85840;
      z-index: -1; }
  .section_card_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px; }
  .section_card {
    display: flex;
    flex-direction: row;
    max-width: 1116px;
    max-height: 330px;
    margin: 12px;
    padding: 23px;
    border-radius: 5px;
    background-color: #3B3F50; }
  .section_card_text {
    font-size: 16px;
    line-height: 25px;
    font-family: "Fresca", sans-serif;
    font-weight: lighter;
    text-align: justify;
    color: #FFFFFF;
    padding: 0px 4px 8px 3px;
    color: #FFFFFF; }
  .section_card_right_container {
    padding: 48px 87px 80px 85px; }
  .section_card_img {
    width: 435px;
    height: 284px;
    border-radius: 5px; }
  .section_card_heading {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    padding: 2px 0px 40px 8px;
    font-weight: 300; }
  .section_link {
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 16px;
    padding: 0px 20px 27px 35px;
    position: relative;
    bottom: -15px;
    color: #FFFFFF; }
  .section_banner {
    position: relative;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    background: linear-gradient(90deg, #dca008 0%, #96324f 100%);
    padding: 10px 145px 40px;
    margin-top: 100px;
    border-radius: 6px; }
  .section_banner_button {
    padding: 11px 40px;
    background-color: #E3AC00;
    border-radius: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: bolder;
    color: #FFFFFF;
    position: relative;
    bottom: 60px;
    right: 18px;
    float: right; }
    .section_banner_button:hover {
      background-color: #2C2F3C; }
  .section_banner_text {
    font-size: 16px;
    line-height: 25px;
    font-family: "Fresca", sans-serif;
    font-weight: lighter;
    padding-left: 18px;
    color: #FFFFFF; }
  .section_banner_heading {
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    padding: 20px; }

.footer {
  height: 240px;
  padding: 130px 175px 53px;
  background-color: #3B3F50;
  margin-top: -70px;
  z-index: -2; }
  .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .footer_text {
    width: 295px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Fresca", sans-serif;
    font-weight: lighter;
    position: relative;
    color: #FFFFFF; }
  .footer_logo {
    position: static;
    color: white; }
  .footer-cr {
    font-size: 16px;
    line-height: 20px;
    font-family: "Fresca", sans-serif;
    font-weight: lighter;
    color: #FFFFFF; }
