:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: "Shadows Into Light", cursive;
  --secondary-font: "Dancing Script", cursive;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  background-color: #f4f6f9;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.section {
  margin: 10px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.body-grid {
  display: grid;
  grid-template-columns: 1fr;
}

header,
footer {
  text-align: center;
}

.logo {
  max-width: 100px;
}

.text-logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
}

.text-header {
  font-family: var(--primary-font);
  margin-bottom: 15px;
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.gallery {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(12, 5vw);
  grid-gap: 15px;
  padding: 20px;
}

@media (max-width:767px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
}

@media (max-width:767px) {
  .gallery {
    grid-column: 1;
    grid-row: 1;
  }
}

.ph {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ph-1 {
  grid-row: 1 / 3;
}

.ph-2 {
  grid-row: 1 / 4;
}

.ph-3 {
  grid-row: 1 / 6;
}

.ph-4 {
  grid-row: 3 / 7;
}

.ph-5 {
  grid-row: 4 / 6 ;
}

.ph-6 {
  grid-row: 7 / 10 ;
}

.ph-7 {
  grid-row: 6 / 9;
}

.ph-8 {
  grid-row: 6 / 8;
}

.ph-9 {
  grid-row: 10 / 12 ;
}

.ph-10 {
  grid-row: 9 / 13;
}

.ph-11 {
  grid-row: 8 / 13;
}

.right-box {
  grid-column: 4 / 6;
  padding: 20px 20px 20px 0;
  grid-row: 1;
  align-self: flex-start; 
  position: sticky;
  top: 25px;
}

@media (max-width:767px) {
  .right-box {
    grid-column: 1;
    grid-row: 2;
    
  }
}

.text-main {
  font-size: 18px;
  line-height: 2rem;
  font-family: var(--primary-font);
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.icon {
  max-width: 20px;
  margin: 10px;
}

.main-icons {
  text-align: center;
  margin-top: 20px;
}

footer {
  font-size: 10px;
}

.footer-logo {
  max-width: 50px;
}

.center {
  text-align: center;
}